<%= form_for vote, remote: true do |f| %>
  <% if vote.errors.any? %>
    <div class="alert alert-danger alert-block form-errors">
      <ul>
        <% vote.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Celé meno" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :city, "Mesto" %>
    <%= f.text_field :city, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email, "Email (nepovinné)" %>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="checkbox">
    <label>
      <%= f.check_box :public %> Zverejniť podpis
    </label>
  </div>

  <div class="form-group">
    <%= recaptcha_tags stoken: false, hl: :sk, ajax: true %>
  </div>

  <%= f.submit "Nie je mi to jedno!", class: "btn btn-primary", data: { disable_with: "Spracovávam..." } %>
<% end %>
