<h1>Už <%= Vote.count %> ľudí hľadá 10 slušných poslancov</h1>

<div class="fb-like" data-href="https://www.facebook.com/10-slu%C5%A1n%C3%BDch-%C4%BEud%C3%AD-583570575124900/?fref=ts" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

<p class="lead">Stačí presvedčiť <strong>10 poslancov a vláda SMERu nebude</strong>. Presvedčiť ich môžeme <strong>len my</strong>. <strong>Spoločne</strong>.</p>

<p class="lead">Smer a SNS <strong>majú teraz 64 mandátov</strong> a na získanie väčšiny im <strong>chýba ešte 12 poslancov</strong>. Most-Híd a Sieť majú spoločne 21 mandátov.</p>

<blockquote>
  <p class="lead"><strong>Ak sa v týchto dvoch stranách nájde 10 slušných ľudí, tretia vláda Smeru sa nebude konať</strong>.</p>
</blockquote>

<p class="lead"><strong>Ukážme, že nám to nie je jedno!</strong> Voliči pravicových strán, špeciálne strany Most-Híd a Sieť, <strong>oslovte</strong> svojich <strong>poslancov</strong> a dajte im vedieť, že nám na našej krajine záleží. <strong>Pokiaľ je ešte čas</strong>.</p>

<h2>Dvaja slušní ľudia sa už našli!</h2>

<p class="lead">Títo slušní ľudia sa rozhodli, že vládu Smeru nepodporia:</p>

<ul>
  <li>Miroslav Beblavý (Sieť)</li>
  <li>Katarína Macháčková (Sieť)</li>
</ul>

<h3>Hľadáme už len 8 slušných ľudí. Pomôž ich nájsť!</h3>

<ol>
  <li>Podpíš výzvu "10 slušných ľudí"</li>
  <li>Napíš nižšie uvedeným poslancom, prečo by nemali podporiť novú vládu Smeru</li>
  <li>Zdieľaj túto výzvu</li>
</ol>

<h3>Podpíš výzvu "10 slušných ľudí"</h3>

<%= render "form", vote: @vote %>

<h3 id="current-state">Aktuálny stav (chýba 8 slušných ľudí)</h3>

<hr>

<%

  thanks = 'poďakuj za slušnosť'
  persuade = 'presveč ho'
  try = 'skús zmeniť jeho názor'

  people = [
      {
          name: '',
          party: '',
          link: '',

      }
         ]
%>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <%
      good = @people.select{ |p| p.fetch(:current_state) == :good }
      %>
      <div class="panel-heading"><h4>Slušní poslanci (<%= good.count %>)</h4></div>

      <table class="table table-hover">
        <tbody>
        <% good.each do |p| %>
          <tr>
            <td class="name"><%= p.fetch(:name) %></td>
            <td class="party"><%= p.fetch(:party) %></td>
            <td class="action"><a href="<%= p.fetch(:fb_link) %>" target="_blank">poďakuj za slušnosť</a></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="panel panel-default">
      <%
        dont_know = @people.select{ |p| p.fetch(:current_state) == :dont_know }
      %>
      <div class="panel-heading"><h4>Poslanci, ktorí môžu podporiť slušnosť (<%= dont_know.count %>)</h4></div>

      <table class="table table-hover">
        <tbody>
        <% dont_know.each do |p| %>
          <tr>
            <td class="name"><%= p.fetch(:name) %></td>
            <td class="party"><%= p.fetch(:party) %></td>
            <td class="action"><a href="<%= p.fetch(:fb_link) %>" target="_blank">presvedč ma</a></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="panel panel-default">
      <%
        not_good = @people.select{ |p| p.fetch(:current_state) == :not_good }
      %>
      <div class="panel-heading"><h4>Sklamali nás (<%= not_good.count %>)</h4></div>

      <table class="table table-hover">
        <tbody>
        <% not_good.each do |p| %>
          <tr>
            <td class="name"><%= p.fetch(:name) %></td>
            <td class="party"><%= p.fetch(:party) %></td>
            <td class="action"><a href="<%= p.fetch(:fb_link) %>" target="_blank">skús zmeniť môj názor</a></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<hr>

<h3>Prečo je ďalšia vláda Smeru najhoršia možnosť pre Slovensko?</h3>

<ol>
  <li>Lebo pred voľbami nám jednotlivé strany a poslanci sľúbili, že so Smerom do vlády nepôjdu. A sľuby sa majú plniť.</li>
  <li>Lebo Slovensko potrebuje skončiť s rozkrádaním, a to sa nedá so stranou, ktorá sa na toto rozkrádanie, keď už nič iné, tak len prizerala.</li>
  <li>Lebo potrebujeme vysekať "Paškovcov" z nášho zdravotníctva. A to sa nedá so stranou, v ktorej je Pavol Paška, a kde premiér Róbert Ficom daruje zo svojej rezervy 20 000 EUR vysoko ziskovému masérovi Kostkovi.</li>
  <li>Lebo potrebujeme nájsť a potrestať ľudí, ktorí nás a naše deti oberajú o lepšie Slovensko. A to sa nedá ak pri moci bude strana, počas ktorej sa za preukázateľné plytvanie verejnými zdrojmi iba presúvali zodpovední ľudia na iné "fleky", a podozrivé zmluvy ostali naďalej v platnosti.</li>
  <li>Lebo potrebujeme sfunkčniť súdnictvo a to sa nedá so stranou, ktorá na ústavného sudcu navrhne notára.</li>
  <li>Lebo potrebujeme zlepšiť a zreformovať školstvo a to sa nedá so stranou, ktorá po 4roch rokoch svojej vlády odkázala protestujúcich učiteľov na ďalšiu vládu.</li>
  <li>Lebo potrebujeme zlepšiť a sfunkčniť naše zdravotvníctvo a to sa nedá s vládou, ktorá sa na protestujúce zdravotné sestry nie len že vykašle, ale navyše na ne ešte podá trestné oznámenie. Potom, čo sama ohrozila poskytovanie zdravotnej starostlivosti.</li>
  <li>Lebo potrebujeme návrat dôvery vo verejnú službu, a to sa nedá so stranou, ktorá prakticky absolútnu moc v krajine využila len vo svoj prospech.</li>
  <li>Lebo zisky nesystémových a extrémistických strán jasne ukazujú na frustráciu z aktuálnej politickej situácie a po ďalšej prípadnej vlády Smeru to bude len horšie.</li>
</ol>
