<h1>10 slušných ľudí</h1>

<p class="lead">Presne toľko slusných poslancov može zmeniť charakter a budúcnosť našeho Slovenska. <strong>10 slusných ľudí</strong> môže rozhodnúť o tom, že 3. <strong>vláda Roberta Fica nebude existovať</strong>.</p>

<p class="lead">Smer a SNS <strong>majú teraz 64 mandátov</strong> a na získanie väčšiny im <strong>chýba ešte 12 poslancov</strong>. Most-Híd a Sieť majú spoločne 21 mandátov.</p>

<blockquote>
  <p class="lead"><strong>Ak sa v týchto dvoch stranách nájde 10 slušných ľudí, tretia vláda Smeru sa nebude konať</strong>.</p>
</blockquote>

<p class="lead"><strong>Ukážme že nám to nie je jedno!</strong> Voliči pravicových strán, špeciálne strany Most-Híd a Sieť, <strong>oslovte</strong> svojich <strong>poslancov</strong> a dajte im vedieť, že nám na našej krajine záleží. <strong>Pokiaľ je ešte čas</strong>.</p>

<h2>Dvaja slušný ľudia sa už našli!</h2>

<p class="lead">Títo slusní ľudia sa rozhodli, že vládu Smeru nepodporia</p>

<ul>
  <li>Miroslav Beblavý (Sieť)</li>
  <li>Katarína Macháčková (Sieť)</li>
</ul>

<h3>Hladáme už len 8 slušných ľudí. Pomôž ich nájsť!</h3>

<ol>
  <li>Podpíš výzvu "10 slušných ľudí"</li>
  <li>Napíš nižšie uvedeným poslancom, prečo by nemali podporiť novú vládu Smeru</li>
  <li>Zdielaľ túto výzvu</li>
</ol>

<h3>Podpíš výzvu "10 slušných ľudí"</h3>

<%= form_for @vote, url: { action: :create, anchor: "new_vote" }  do |f| %>
  <% if @vote.errors.any? %>
    <div class="alert alert-danger alert-block form-errors">
      <ul>
        <% @vote.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Meno" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :city, "Mesto" %>
    <%= f.text_field :city, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email, "Email (nepovinné)" %>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="checkbox">
    <label>
      <%= f.check_box :public %> Zverejniť podpis
    </label>
  </div>

  <%= f.submit "Nie je mi to jedno!", class: "btn btn-primary" %>
<% end %>

<h3>Aktuálny stav (chýba 8 slušných ľudí)</h3>

<hr>

<div class="row">
  <div class="col-md-4">
    <h4>Slušní poslanci (2)</h4>
    <ul class="list-unstyled">
      <li>Miroslav Beblavý SIEŤ</li>
      <li>Katarína Macháčková SIEŤ</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h4>Možní slusní poslanci (18)</h4>
    <ul class="list-unstyled">
      <li>Lucia Žitňanská MOST-HÍD</li>
      <li>Zsolt Simon MOST-HÍD</li>
      <li>László Sólymos OST-HÍD</li>
      <li>František Šebej MOST-HÍD</li>
      <li>Ivan Švejna MOST-HÍD</li>
      <li>Gábor Gál MOST-HÍD</li>
      <li>Tibor Bastrnák MOST-HÍD</li>
      <li>Peter Kresák MOST-HÍD</li>
      <li>Arpád Érsek MOST-HÍD</li>
      <li>Elemér Jaka MOST-HÍD</li>
      <li>Andrej Hrnčiar SIEŤ</li>
      <li>Katarína Macháčková SIEŤ</li>
      <li>Alena Bašistová SIEŤ</li>
      <li>Katarína Cséfalvayová SIEŤ</li>
      <li>Eduard Adamčík SIEŤ</li>
      <li>Igor JanckulíkSIEŤ</li>
      <li>Martin Fedor SIEŤ</li>
      <li>Simona Petrík SIEŤ</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h4>Sklamali nás (2)</h4>
    <ul class="list-unstyled">
      <li>Béla Bugár MOST-HÍD</li>
      <li>Radoslav Procházka SIEŤ</li>
    </ul>
  </div>
</div>

<hr>

<h3>Prečo je ďalšia vláda Smeru najhoršia možnosť pre Slovensko?</h3>

<ol>
  <li>Lebo pred voľbami nám jednotlivé strany a poslanci sľúbili, že so Smerom do vlady nepôjdu. A sľuby sa majú plniť.</li>
  <li>Lebo Slovensko potrebuje skončiť s rozkradaním, a to sa nedá so stranou, ktorá sa na toto rozkrádanie, keď už nič iné, tak len prizerala.</li>
  <li>Lebo potrebujeme vysekať "Paškovcov" z našeho zdravotníctva. A to sa nedá so stranou, v ktorej je Pavol Paška, a kde premier Róbert Ficom daruje zo svojej rezervy 20 000 EUR vysoko ziskovému masérovi Kostkovi.</li>
  <li>Lebo potrebujeme nájsť a potrestať ľudí, ktorí nás a naše deti oberajú o lepšie Slovensko. A to sa nedá ak pri moci bude strana, počas ktorej sa za preukázatelné plytvanie verejnými zdrojmi iba presúvali zodpovední ľudia na iné "fleky", a podozrivé zmluvy ostali naďalej v platnosti.</li>
  <li>Lebo potrebujeme sfunkčniť súdnictvo a to sa nedá so stranou, ktorá na ústavného sudcu navrhne notára.</li>
  <li>Lebo potrebujeme zlepšiť a zreformovať školstvo a to sa nedá so stranou, ktorá po 4roch rokoch svojej vlády odkázala protestujúcich učiteľov na ďalšiu vládu.</li>
  <li>Lebo potrebujeme zlepšiť a funkcniť naše zdravotvníctvo a to sa nedá s vládou, ktorá sa na protestujúce zdravotné sestry nie len že vykašle, ale navyše na ne ešte podá trestné oznámenie. Potom, čo sama ohrozila poskytovanie zdravotnej starostlivosti.</li>
  <li>Lebo potrebujeme návrat dôvery vo verejnú službu, a to sa nedá so stranou, ktorá prakticky absolútnu moc v krajine využila len vo svoj prospech.</li>
  <li>Lebo zisky nesystémových a extrémistických strán jasne ukazujú na frustráciu z aktuálnej politickej situácie a po ďalšej prípadnej vlády Smeru to bude len horšie.</li>
</ol>
