<!DOCTYPE html>
<html>
<head>
  <title>10 slušných ľudí</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <% [:notice, :alert].each do |key| %>
      <% if flash[key] %>
        <div class="alert alert-<%= alert_key(key) %> alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= flash[key] %>
        </div>
      <% end %>
    <% end %>

    <%= yield %>

    <hr>

    <p>
    Chceš pomôcť? <a href="https://platforma.slovensko.digital/t/10-slusnych-ludi-http-10slusnychludi-sk/1711">Klikni sem</a>.
    </p>
  </div>

</body>
</html>
