<!DOCTYPE html>
<html>
<head>
  <title>10 slušných ľudí</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:image" content="<%= image_url "logo.png" %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <div class="container">
    <% [:notice, :alert].each do |key| %>
      <% if flash[key] %>
        <div class="alert alert-<%= alert_key(key) %> alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= flash[key] %>
        </div>
      <% end %>
    <% end %>

    <%= yield %>

    <hr>

    <p>
    Chceš pomôcť? <a href="https://platforma.slovensko.digital/t/10-slusnych-ludi-http-10slusnychludi-sk/1711">Klikni sem</a>.
    </p>
  </div>

  <% if Rails.env.production? %>
    <%= render "application/google_analytics" %>
  <% end %>
</body>
</html>
